<html>
{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/classselectCSS.css' %}"/>
</head>
<div class="wrapper">
	<img src='https://lh3.googleusercontent.com/QSJdIX5ITy9ruQSq1tEUiuwb1o5EGfoXH7BA-nAJOHVos7wI61vqtwufvhC4UqfimSo' id = "Logo">
<body>
	<div class="class_dropddown">
		<select id="class" name="class">
			<option value="v">Class 12th D</option>
		    <option value="saab">Saab</option>
		    <option value="fiat">Fiat</option>
		    <option value="audi">Audi</option>
		</select>
		<button type="submit" id="class_select">Choose</button>
  	</div>
</body>
</div>
</html>
